html {
    background-color: rgb(243, 243, 188);
}

main {
    display: block;
    justify-content: center;

}

#title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    font-variant: small-caps;

}


#gameboardContainer {
    display: flex;
    justify-content: center;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    width: fit-content;
}

.tile {
    width: 60px;
    height: 60px;
    background-color: rgba(18, 18, 248, 0.788);
    box-shadow: 0 0 5px -1px rgba(0,0,0,1);
    border-color: black;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.tileClicked {
    background-color: rgba(18, 18, 248, 0.50);
    transform: scale(0.92);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
    
}

i {
    font-size: 50px;
    align-self: center;
}